.App {
  text-align: center;
  padding: 16px
}

.catalog {
  display: flex;
  gap: 8px
}

.product {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}

button {
  background-color: white;
  margin: 0 4px
}